/* 
Medemogelijk gemaakt door:
 -- https://codemyui.com/hamburger-menu-to-css-only-full-screen-slide-in-navigation-menu/ -Burger menu
 -- https://codepen.io/ivorjetski/pen/jObwWYj -Carousel gebeure 
 -- https://www.w3schools.com/howto/howto_js_collapsible.asp --Collapsable divs gedeuns ja wel leuk eig dit 


En door Luc Stoffels zijn ouwe code wantja ik ben lui en Geen gemekker kaas is lekker 

*/



/* voor de font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Ubuntu&display=swap');


/* variables die je snel kan aanpasse en dan ook worden aangepast op de website in het bboergir menu */
 :root {
	 --color-primary: #0f4a34;
	 --color-secondary: #f0f7ee;
	 --duration: 1.5s;
	 --nav-duration: calc(var(--duration) / 4);
	 --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
	 --space: 1rem;
	 --font-primary: 'Helvetica', sans-serif;
	 --font-heading: 'Merriweather', serif;
	 --font-size: 1.125rem;
	 --line-height: 1.5;
	 
}
html, body {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    }

/* De container */
div#container {
  width: 100%;
  margin: auto;
  margin-top: 0px;
}

/* de Header */
header {
    height: 200px;
    background-image: linear-gradient(to right, #17181c , #067c4c);
}




 /* de text krxKen he */
 .krxken {
   position: absolute;
   font-size: 2vw;
   color: white;
   top: 2vh;
   left: 25%;
   font-family: 'Raleway';
 }

 /* Het logo van de mooie krxken*/
.Logo {
position: relative;
  display: block;
  margin-left: 55%;
  margin-right: 55%;
  top: 10px;
  width: auto;
  height: 160px;
  border-radius: 10px;
  border: 5px solid #00f89b;
}

/* Section waar de nav is en het article */
section {
  position: absolute;
  top: 200px;
  height: 100%;
  width: 100%;
  background-color: gray;
}








/* Hamburger menu zooi (doe mij maar een MC Plant!) */
* {
	 box-sizing: border-box;
}
 body {
	 font-family: var(--font-primary);
	 font-size: var(--font-size);
	 line-height: var(--line-height);
}

article {
     position: absolute;
    font-family: raleway;
    left: 2%;
}
 .main-navigation-toggle {
	 position: fixed;
	 height: 1px;
	 width: 1px;
	 overflow: hidden;
	 clip: rect(1px, 1px, 1px, 1px);
	 white-space: nowrap;
}
 .main-navigation-toggle + label {
	 position: absolute;
	 top: calc(var(--space) * 1.5);
	 left: calc(var(--space) * 2);
	 cursor: pointer;
	 z-index: 2;
}
 .icon--menu-toggle {
	 --size: calc(1rem + 4vmin);
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: var(--size);
	 height: var(--size);
	 stroke-width: 6;
}
 .icon-group {
	 transform: translateX(0);
	 transition: transform var(--nav-duration) var(--ease);
}


/* kleur van die boergir */
 .icon--menu {
	 stroke: #00ff9a;
}



 .icon--close {
	 stroke: var(--color-secondary);
	 transform: translateX(-100%);
}
 .main-navigation {
	 position: fixed;
	 top: 0;
	 left: 0;
	 display: flex;
	 align-items: center;
	 width: 100%;
	 height: 100%;
	 transform: translateX(-100%);
	 transition: transform var(--nav-duration);
	 z-index: 1;
}
 .main-navigation:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-color: var(--color-primary);
	 transform-origin: 0 50%;
	 z-index: -1;
}
 .main-navigation ul {
	 font-size: 12vmin;
	 font-family: var(--font-heading);
	 width: 100%;
}
 .main-navigation li {
	 --border-size: 1vmin;
	 display: flex;
	 align-items: center;
	 position: relative;
	 overflow: hidden;
}
 .main-navigation li:after {
	 content: '';
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: var(--border-size);
	 background-color: var(--color-secondary);
	 transform-origin: 0 50%;
	 transform: translateX(-100%) skew(15deg);
}
 .main-navigation a {
	 display: list-item;
	 width: 100%;
	 max-width: 94%;
	 margin: 0 auto;
	 color: var(--color-secondary);
	 line-height: 1.5;
	 text-decoration: none;
	 user-select: none;
	 padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
	 transform: translateY(100%);
	 font-family: raleway;
	 font-size: 6rem;
	border-radius: 25px;
	border: 2px solid white;
	background-color: #0f4a34;
}
 .main-content {
	 margin: 6rem auto;
	 max-width: 70ch;
	 padding: 0 calc(var(--space) * 2);
	 transform: translateX(0);
	 transition: transform calc(var(--nav-duration) * 2) var(--ease);
}
 .main-content > * + * {
	 margin-top: calc(var(--space) * var(--line-height));
}
 .main-navigation-toggle:checked ~ label .icon--menu-toggle .icon-group {
	 transform: translateX(100%);
}
 .main-navigation-toggle:checked ~ .main-content {
	 transform: translateX(10%);
}
 .main-navigation-toggle:checked ~ .main-navigation {
	 transition-duration: 0s;
	 transform: translateX(0);
}
 .main-navigation-toggle:checked ~ .main-navigation:after {
	 animation: nav-bg var(--nav-duration) var(--ease) forwards;
}
 .main-navigation-toggle:checked ~ .main-navigation li:after {
	 animation: nav-line var(--duration) var(--ease) forwards;
}
 .main-navigation-toggle:checked ~ .main-navigation a {
	 animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
}
 .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1) a {
	 animation-delay: calc((var(--duration) / 2) * 1 * 0.125);
}
 .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2) a {
	 animation-delay: calc((var(--duration) / 2) * 2 * 0.125);
}
 .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3) a {
	 animation-delay: calc((var(--duration) / 2) * 3 * 0.125);
}
 .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4) a {
	 animation-delay: calc((var(--duration) / 2) * 4 * 0.125);
}
 @keyframes nav-bg {
	 from {
		 transform: translateX(-100%) skewX(-15deg);
	}
	 to {
		 transform: translateX(0);
	}
}
 @keyframes nav-line {
	 0% {
		 transform: scaleX(0);
		 transform-origin: 0 50%;
	}
	 35% {
		 transform: scaleX(1.001);
		 transform-origin: 0 50%;
	}
	 65% {
		 transform: scaleX(1.001);
		 transform-origin: 100% 50%;
	}
	 100% {
		 transform: scaleX(0);
		 transform-origin: 100% 50%;
	}
}
 @keyframes link-appear {
	 0%, 25% {
		 transform: translateY(100%);
	}
	 50%, 100% {
		 transform: translateY(0);
	}
}


footer {
    position: fixed;
    width: 100%;
    height: 23px;
    bottom: 0px;
    font-size: 18px;
    background-color: #0f4a34;
    color: white;
    text-align: center;
  }

  .mail {
    color: #ff0000;
	text-indent: 25px;
    text-decoration: none;
  }
  
  .mail:hover {
    color: yellow;
  }

/* ja ff dat kleurtje verandere anders is het zo moker saai */
  .main-navigation a:hover { 
	color:yellow;
	border-radius: 50px;
	border: 5px solid yellow;
	background-color: black;
  }






  /* Dit is alles voor de o zo mooie carousel WIEEEEEE!!! */
  carousel {
	position: relative;
	width: 100%;
	text-align: center;
	font-family: Trebuchet MS;
	display: block;
	font-size: 6vmin;
	cursor: default; 
	top: 1%;
}

carousel page {
	position: absolute;
	top: 2em;
	left: 0;
	width: 100%;
	transition: transform 0.5s;
	transform: scale(0);
}

carousel page div {
	padding: 3em;
}

carousel page label {
	cursor: pointer;
	background: #ffa500;
	padding: 1em 2em;
	font-size: 30%;
	border: 2px solid white;
	border-radius: 1000px;
	font-family: 'Raleway';
	color: white;
}

carousel page label:hover {
	cursor: pointer;
	background: #e99802;
	padding: 1em 2em;
	font-size: 30%;
	border: 2px solid black;
	border-radius: 1000px;
	font-family: 'Raleway';
	color: black;
}


.bollekes:after{
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
		cursor:pointer;
}

.bollekes:checked:after {
	width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ffa500;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;

}


carousel #page1cb:checked ~ #page1 {
	transform: scale(1);
}
carousel #page2cb:checked ~ #page2 {
	transform: scale(1);
}
carousel #page3cb:checked ~ #page3 {
	transform: scale(1);
}
carousel #page4cb:checked ~ #page4 {
	transform: scale(1);
}
carousel #page5cb:checked ~ #page5 {
	transform: scale(1);
}



.knop_terug{
	position: absolute;
	left: 30%;
	top: 60%;
}

.knop_next{
	position: absolute;
	right: 30%;
	top: 60%;
}

.foto1{
	position: absolute;
	top: 25%;
	left: 37.5%;
	width: 25%;
	height: auto;
}

.foto2{
	position: absolute;
	top: 5%;
	left: 37.5%;
	width: 25%;
	height: auto;
}

.foto3{
	position: absolute;
	top: 5%;
	left: 42.5%;
	width: 15%;
	height: auto;
}


.autoslider {
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
	height: 200px;
	width: 100%;
	position: fixed;

}

.foto {
	flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}




							/*OPENKLAPPENDE DIVS BEGINT HIER BIER */


h2 { 
    font-family: 'Raleway';
}
.collapsible {
    background-color: rgb(90, 90, 90);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: 'Raleway';
    border-radius: 5px;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(32, 32, 32);
  }
  
  .collapsible:after {
    content: '\2BC5';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2BC6";
  }
  
  .content {
    padding: 0 18px;
    font-family: 'Ubuntu';
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    border-radius: 5px;
  }




												/*FLEXBOX BEGINT HIER BIER */

  .flexbox {
    display: -webkit-flex; /* De div waar de hele flexbox in zit en die flext zo hard in totaal niet normaaal kale koppe niet te stoppeeeee!!! */
    display: flex;
    gap: 10px;
    gap: 10px 20px;
    border: 0px solid rgb(0, 255, 0);
	flex-wrap: wrap;
    font-family: 'Raleway';
  }

.flexbox > div {
	flex: 35%;
}


  .flex1 {
    -webkit-flex: 1; /* Ja die flext zo hard dat hij altijd flext wanneer je de pagina resized */
            flex: 1;
    padding: 10px;
    border: 0px solid blue;
    border-radius: 5px;
	/* flex-grow: 0; */
	width: 100%;
  }
  .flex2 {
    -webkit-flex: 2; /* Ja precies het zelfde als flex1 maar dan voor de volgende flex en als je er nog meer maakt dan ja dan word dat natuurlijk 3 deuhhhh */
            flex: 2;
    padding: 10px;
    border: 0px solid blue;
    border-radius: 5px;
	/* flex-grow: 0; */
	width: 100%;
  }

  .flex3 {
    -webkit-flex: 3; /* Ja precies het zelfde als flex1 maar dan voor de volgende flex en als je er nog meer maakt dan ja dan word dat natuurlijk 3 deuhhhh */
            flex: 3;
    padding: 10px;
    border: 0px solid blue;
    border-radius: 5px;
	/* flex-grow: 0; */ 
	width: 100%;
  }

  .flex4 {
    -webkit-flex: 4; /* Ja precies het zelfde als flex1 maar dan voor de volgende flex en als je er nog meer maakt dan ja dan word dat natuurlijk 3 deuhhhh */
            flex: 4;
    padding: 10px;
    border: 0px solid blue;
    border-radius: 5px;
	/* flex-grow: 0; */ 
	width: 100%;
  }